html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  --white: #ffffff;
  --gray-light: #f9fafb;
  --gray-border: #e5e7eb;
  --gray-text: #374151;
  --gray-dark: #111827;
  --blue: #3b82f6;
  --red: #dc2626;
}
